/* body {

    font-family: Arial, sans-serif;
  
    background-color: #f0f0f0;
  
    margin: 0;
  
    padding: 0;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    height: 100vh;
  
  }
   */
   
  
  .container-login {
  
    background-color: #fff;
  
    border-radius: 8px;
  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  
    padding: 20px;
  
    width: 400px;
  
    text-align: center;
  
  }
  
   
  
  h1 {
  
    font-size: 24px;
  
    margin-bottom: 20px;
  
    color: #007bff; /* Blue color for headings */
  
  }
  
   
  
  .input-style {
  
    width: 100%;
  
    padding: 10px;
  
    margin: 8px 0;
  
    border: 1px solid #ccc;
  
    border-radius: 4px;
  
    box-sizing: border-box;
  
  }
  
   
  
  button {
  
    background-color: #007bff;
  
    color: #fff;
  
    border: none;
  
    border-radius: 4px;
  
    padding: 10px 20px;
  
    cursor: pointer;
  
    transition: background-color 0.3s ease-in-out;
  
  }
  
   
  
  button:hover {
  
    background-color: #0056b3; /* Darker blue on hover */
  
  }
  
   
  
  /* p {
  
    margin-top: 20px;
  
  }
   */
   
  
  /* Style the "Login" and "Sign Up" buttons within the form */
  
  button[type="submit"] {
  
    background-color: #007bff;
  
    color: #fff;
  
    border: none;
  
    border-radius: 4px;
  
    padding: 10px 20px;
  
    cursor: pointer;
  
    transition: background-color 0.3s ease-in-out;
  
  }
  
   
  
  button[type="submit"]:hover {
  
    background-color: #0056b3; /* Darker blue on hover */
  
  }
  
   
  
  /* Style the gender label and select dropdown */
  
  /* div label {
  
    display: block;
  
    margin-top: 10px;
  
  } */
  
   
  
  /* Style the link to switch between login and signup */
  
  a {
  
    color: #007bff;
  
    text-decoration: none;
  
  }
  
   
  
  a:hover {
  
    text-decoration: underline;
  
  }
  
   
  
  /* .dob{
  
    display: flex;
  
    flex-direction: row;
  
  } */